.image-grid {
    display: grid;
    margin-left: 40px;
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .image-item {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }

  .uplbtn{
    background-color: aqua;
    border-radius: 5px;
  }
  