.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header h1{
  margin-left: 250px;
}

.App-header h2{
  margin-left: 250px;
}
.App-header h3{
  margin-left: 250px;
}

.App-header {
  background-color: #84aaf7;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
 
}
.navbar-logo {
  width: 50px; 
  float: left;
}
.cdc-logo{
  width: 50px;
  float: right;
  padding-right: 150px;
  
}

nav ul li{
  display: inline;
  padding: 5px;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  font-style: bold;
  background-color: lightblue;
  border-radius: 8px;
  
  
}


nav ul li a{
color: darkslategray;
text-decoration: none;

}

nav ul li :hover{
  text-decoration: underline;
  color: white;
  background-color: #576f76;
}

.App-link {
  color: #61dafb;
}

.login{
  margin-left: 1200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mrq{
  background-color: aquamarine;
  color: red;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}